/* reset style */
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* root elements */
html {
    font-size: 16px; 
}

:root {
    --font-heading-nav: 'Lato', sans-serif;
    --font-body-button: 'Karla', sans-serif;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-yellow: #d69e3d;
    --color-brown: #966f2c;
    --color-bg: #f3f0e9;
}

/* overall style */
body {
    font-family: var(--font-body);
    background-color: var(--color-bg);
    color: var(--color-black);
}

h1, h2, h3, nav ul {
    font-family: var(--font-heading-nav);
}

h1 {
    font-size: 2.027rem;
    font-weight: normal;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.424rem;
}

p, button {
    font-family: var(--font-body-button);
}

p {
    font-size: 1rem;
}

.yellow-text {
    color: var(--color-yellow);
    text-transform: uppercase;
    font-size: 1.2rem;
}

button {
    text-transform: uppercase;
}

.wrapper {
    /* max-width: 1100px; */
    margin: 0;
    padding: 0;
}

.skip-link {
    display: none;
}

/* header nav */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--color-black);
}

header .wrapper {
    margin: 0 auto;
}

header nav img{
    margin: 10px auto;
}

nav ul {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 20px auto 10px auto;
}

li {
    color: var(--color-white);
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
}

/* explore section */
.explore {
    position: relative;
}

.explore img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0% 45%;
    filter: brightness(0.3);
}

.explore-text {
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
    color: var(--color-white);
    text-align: center;
}

.explore-text h1 {
    text-transform: uppercase;
    font-weight: 900;
}

.explore-text p {
    margin-top: 0.5rem;
    margin: 15px 50px;
}

.explore-text button {
    background-color: var(--color-white);
    font-size: 1rem;
    font-weight: 800;
    width: 250px;
    padding: 10px;
    margin-top: 40px;
}

/* welcome section */
.welcome {
    margin: 60px 10px 0 10px;
    text-align: left;
}

.welcome p {
    margin-bottom: 10px;
}

.welcome h2 {
    margin: 10px 200px 10px 0px;
}

.welcome .wrapper {
    gap: 0.5rem;
}

.welcome-images img {
    width: 100%;
}

.welcome-images {
    height: auto;
    object-fit: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "one one"
    "one one"
    "two three"
    "four five";
    gap: 20px;
}

.welcome-images img:nth-child(1){grid-area: one;}

.welcome-images img:nth-child(2){grid-area: two;}

.welcome-images img:nth-child(3){grid-area: three;}

.welcome-images img:nth-child(4){grid-area: four;}

.welcome-images img:nth-child(5){grid-area: five;}

/* what we offer section */
.what-we-offer {
    text-align: center;
    padding: 2rem 0;
}

.what-we-offer h2 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.what-we-offer h3 {
    text-transform: uppercase
}

.what-we-offer div {
    padding: 1rem 0;
    margin: 0 auto;
}

.what-we-offer img {
    margin-bottom: 0.5rem;
    width: 25%;
}

.what-we-offer p {
    margin-left: 70px;
    margin-right: 70px;
}

/* menu and location */
.menu-location {
    position: relative;
}

.menu-location img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: 50% 45%;
    filter: brightness(0.3);
}

.menu-location-text {
    position: absolute;
    top: 12%;
    left: 10%;
    right: 10%;
    color: var(--color-white);
    text-align: center;
    text-transform: uppercase;
}

.menu-location p {
    font-weight: 400;
    margin: 10px 50px;
}

.menu-location button {
    margin-top: 40px;
    margin-bottom: 110px;
    font-size: 1rem;
    font-weight: 800;
    width: 220px;
    padding: 10px;
}

#menu-button {
    background-color: var(--color-white);
}

#location-button {
    color: var(--color-white);
    border-color: var(--color-white);
    border-width: 3px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0)
}

/* about us section */
.about-us {
    margin: 100px 10px 10px 10px;
}

.about-us img {
    width: 100%;
}

.about-us .yellow-text {
    margin-top: 20px;
}

.about-us h2 {
    text-transform: uppercase;
    margin: 10px auto;
}

.about-us p {
    margin: 15px auto;
}

.about-us button {
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 800;
    width: 160px;
    padding: 10px;
}

/* testimonials section */
.testimonials {
    margin: 100px auto 0px auto;
    background-color: var(--color-black);
}

.testimonials h2 {
    color: var(--color-white);
    text-transform: uppercase;
    margin: 10px 100px 40px 0;
}

.testimonials .wrapper {
    padding-top: 70px;
    margin: 15px 15px 0 15px;
    padding-bottom: 70px;
}

.testimonials .yellow-text {
    font-weight: 500;
}

.testimonial-1, .testimonial-2, .testimonial-3 {
    position: relative;
}

.testimonial-1 img, .testimonial-2 img, .testimonial-3 img {
    width: 100%;
    height: 550px;
    object-fit: cover; 
    filter: brightness(0.8);
}

.testimonial-1 img {
    object-position: 0% 50%;
}

.testimonial-2 img {
    object-position: 0% 7%;
    padding-top: 20px;
}

.testimonial-3 img {
    object-position: 0% 0%;
    padding-top: 20px;
}

.testimonial-text {
    position: absolute;
    top: 77%;
    left: 5%;
    text-align: left;
}

.testimonial-content {
    color: var(--color-white);
    font-size: 1.2rem;
    font-weight: 400;
}

.testimonial-client-name {
    padding-top: 10px;
}

/* footer section */
footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 15px;
    text-align: center;
}

footer p {
    margin-top: 10px;
    margin-bottom: 40px;
}

/* For tablet  */
@media ((min-width: 768px)) {
    /* font size */
    h1 {
        font-size: 2.986rem;
    }
    
    h2 {
        font-size: 2.488rem;
    }
    
    h3 {
        font-size: 1.728rem;
    }
    
    /* tablet welcome section */
    .welcome {
        margin-top: 70px;
    }   

    .welcome h3 {
        padding-right: 200px;
    }

    .welcome-images {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
            "one one two three"
            "one one four five"
    }

    /* tablet what we offer section */
    .what-we-offer {
        margin-top: 30px;
    }
    
    .what-we-offer-icons {
        display: flex;
        flex-wrap: wrap;
    }
    
    .fair-trade {
        flex-basis: 50%;
    }
    
    .local-baked {
        flex-basis: 50%;
    }
    
    .made-with-love {
        flex-basis: 50%;
    }

    .what-we-offer img {
        width: 30%;
    }

    .what-we-offer p {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* tablet menu and location section */
    .menu-location-text {
        display: flex;
        top: 20%;
    }

    .menu-location img {
        height: 450px;     
    }

    .menu, .location {
        flex-basis: 50%;
        margin-right: 40px;
        margin-left: 40px;
    }

    /* tablet about us section */
    .about-us {
        padding-bottom: 130px;
    }

    .about-us img {
        float: left;
        width: 50%;
        margin-right: 20px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

    .about-us article {
        margin-right: 10px;
    }
    
    .about-us .yellow-text {
        padding-top: 30px;
    }

    /* tablet testimonials section */
    .testimonials article {
        display: flex;
    }

    .testimonial-1 img, .testimonial-2 img, .testimonial-3 img{
        height: 400px;
        padding-top: 0;
    }

    .testimonial-2 img {
        margin-left: 10px;
        margin-right: 10px;
    }

    .testimonials h3 {
        margin-right: 400px;
    }

    .testimonial-text {
        display: flex;
        flex-direction: column;
        top: 65%;
    }
}

/* desktop welcome section */
@media ((min-width: 1100px)) {
    /* font size */
    h1 {
        font-size: 3.815rem;
        text-transform: uppercase;
    }
    
    h2 {
        font-size: 3.052rem;
    }
    
    h3 {
        font-size: 1.953rem;
    }

    /* desktop welcome section */
    header {
        padding: 0;
    }
    
    header .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    
    header .wrapper img {
        height: 30px;
        margin-left: 100px;
    }
    
    header .wrapper ul {
        display: flex;
        gap: 50px; 
        margin-left: auto;
        padding: 20px 0;
    }

    /* desktop explore section */
    .explore img {
        height: 700px;
        filter: brightness(0.5);
    }

    .explore h1, .explore p {
        margin: 0 auto;
        width: 650px;
    }

    .explore-text {
        top: 33%;
    }
        
    /* desktop welcome section */
    .welcome {
        margin: 70px 150px 0 150px;
    }

    .welcome h3 {
        margin-right: 10px;
    }

    /* desktop what we offer */
    .what-we-offer-icons {
        display: flex;
        flex-wrap: nowrap;
        width: 75%;
    }
    
    .what-we-offer img {
        width: 140px;
    }

    .fair-trade, .local-baked, .made-with-love  {
        /* margin: 0 50px; */
    }

    .what-we-offer-icons h3 {
        font-size: 1.5rem;
    }

    .what-we-offer-icons p {
        margin: 0 20px;
    }

    /* desktop ,eun and location */
    .menu-location img {
        height: 450px;
        object-position: 50% 50%;
    }

    /* desktop about us */
    .about-us {
        margin: auto 200px;
    }

    .about-us img {
        object-fit: cover;
        height: 500px;
        width: auto;
    }

    .about-us .yellow-text {
        margin-top: 100px;
    }

    /* desktop testmonial */
    .testimonials .wrapper {
        margin: 70px 150px 0 150px;
    }

    .testimonial-1 img, .testimonial-2 img, .testimonial-3 img {
        height: 350px;
    }

    /* desktop footer */
    hr {
        margin: 0 150px;
    }
}